<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>云校园 ▪ 训练 - 排行</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap dashboard, bootstrap, css3 dashboard, bootstrap admin, light bootstrap dashboard, frontend, responsive bootstrap dashboard">
    <meta name="description" content="Forget about boring dashboards, get an admin template designed to be simple and beautiful.">
    <meta itemprop="name" content="Light Bootstrap Dashboard PRO by Creative Tim">
    <meta itemprop="description" content="Forget about boring dashboards, get an admin template designed to be simple and beautiful.">
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Light Bootstrap Dashboard PRO by Creative Tim">
    <meta name="twitter:description" content="Forget about boring dashboards, get an admin template designed to be simple and beautiful.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:data1" content="Light Bootstrap Dashboard PRO by Creative Tim">
    <meta name="twitter:label1" content="Product Type">
    <meta name="twitter:data2" content="$29">
    <meta name="twitter:label2" content="Price">
    <meta property="og:title" content="Light Bootstrap Dashboard PRO by Creative Tim" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Forget about boring dashboards, get an admin template designed to be simple and beautiful."
    />
    <meta property="og:site_name" content="Creative Tim" />
    <link href="newStyle/css/bootstrap.min.css" rel="stylesheet" />
    <link href="newStyle/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <link href="newStyle/css/demo.css" rel="stylesheet" />
    <link href="newStyle/css/font-awesome.min.css" rel="stylesheet">
    <link href='newStyle/css/685fd913f1e14aebad0cc9d3713ee469.css' rel='stylesheet' type='text/css'>
    <link href="newStyle/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <!--通知-->
    <link rel="stylesheet" href="dist/css/Lobibox.min.css" />
    <!--VUE-->
    <script src="js/vue.js"></script>
    <script src="newStyle/js/jquery.min.js" type="text/javascript"></script>
    <!--导入右键菜单样式-->
    <link rel="stylesheet" href="css/rightmenu.css" />
</head>
<style>
    * {
        -webkit-user-select: none;
    }

    .iframeItem {
        width: 100%;
        height: 100%;
    }

    .wuTheme:hover {
        border: 2px solid #a68dff;
    }

    .toolbar-item {
        font-weight: bold;
        font-size: 20px;
        color: #ffffff;
        width: 90%;
        -webkit-border-radius: 10px;
        background-color: #9dafff;
        height: 70px;
        line-height: 70px;
        top: -40px;
        left: -30px;
        position: relative;
        text-indent: 2em;
        box-shadow: 1px 1px 1px 1px #c1c1c1;

    }

    .container-item {
        -webkit-border-radius: 10px;
        width: 100%;
        height: 400px;
        margin-bottom: 70px;
        background-color: #efeb73;
    }

    .header-item {
        font-weight: bold;
        font-size: 20px;
        color: #ffffff;
        width: 90%;
        -webkit-border-radius: 10px;
        background-color: #9dafff;
        height: 70px;
        line-height: 70px;
        top: -10px;
        left: -10px;
        position: relative;
        text-indent: 2em;
        box-shadow: 1px 1px 1px 1px #e1e1e1;
    }

    .fresh-datatables {

        border: 1px solid #e3e3e3;
        background-color: #ffffff;
        -webkit-border-radius: 10px;
        height: 500px;
        overflow: auto;
    }

    .fresh-datatables table th {
        text-align: center;
    }

    table tfoot th {
        text-align: center;
    }

    .fresh-datatables table td {
        text-align: center;
    }

    .ul-item {
        padding: 0px;
        margin: 0px;
    }

    .ul-item li {
        -webkit-border-radius: 5px;
        cursor: pointer;
        margin: 5px;
        list-style-type: none;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-indent: 1em;
        background-color: #ffffff;
        box-shadow: 1px 1px 1px 1px #eaeaea;
    }

    .ul-item li:hover {
        background-color: #f9f9f9;

    }

    table tr td {
        color: #696969;
    }

    tbody tr td {
        text-align: center;
    }

    thead tr th {
        text-align: center;
    }

    .bar-div {
        width: 100%;
        transition: width 2s;
    }

    .container-top {
        font-weight: bold;
        font-size: 20px;
        color: #ffffff;
        width: 90%;
        -webkit-border-radius: 10px;
        background-color: #9dafff;
        height: 70px;
        line-height: 70px;
        top: -10px;
        position: relative;
        text-indent: 2em;
        left: -20px;
        box-shadow: 1px 1px 1px 1px #c1c1c1;
    }
</style>

<body>

    <!--右键菜单-->
    <div id="menu">
        <ul>
            <li onclick="shuaxin()">刷新 F5</li>
            <li>复制</li>
            <li>粘贴</li>
        </ul>
    </div>
    <!--整体内容-->
    <div class="wrapper" id="app">

        <!--右半部分内容-->
        <div class="main-panel" style="float: none">
            <!--右半部分导航-->
            <nav class="navbar navbar-default" id="topRight">
                <div class="container-fluid">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-warning btn-fill btn-round btn-icon btn-theme">
                            <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                            <i class="fa fa-navicon visible-on-sidebar-mini"></i>
                        </button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <form class="navbar-form navbar-left navbar-search-form" role="search">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" value="" class="form-control" placeholder="请输入课题名称...">
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="charts.html">
                                    <i class="fa fa-line-chart" title="统计"></i>
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="notification">1</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">我的通知</a>
                                    </li>
                                    <li>
                                        <a href="#">我的邮箱</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="nav-notice.html">公告通知</a>
                                    </li>


                                </ul>
                            </li>
                            <li class="dropdown dropdown-with-icons">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-list"></i>
                                    <p class="hidden-md hidden-lg">
                                        More
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-with-icons">

                                    <li>
                                        <a href="#">
                                            <i class="pe-7s-help1"></i> 帮助
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="pe-7s-tools"></i>设置
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="pe-7s-lock"></i> 锁定待机
                                        </a>
                                    </li>
                                    <li>
                                        <a href="out_login.html" target="_parent" class="text-danger">
                                            <i class="pe-7s-close-circle"></i>
                                            注销登录
                                        </a>
                                    </li>
                                    <li onclick="clostExamSystem()">
                                        <a href="#" class="text-danger">
                                            <i class="pe-7s-close-circle"></i>
                                            退出程序
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--右半部分主体内容-->
            <div class="content">
                <!--左部展示标题名称-->
                <!--右部显示统计图-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card" id="cardPH">
                                <div class="container-top">
                                    <i class="pe-7s-cup" style="font-weight: bold;font-size: 28px;position: relative;left: -56px;top: 4px;width: 20px;"></i>
                                    自测 ▪ 排行
                                    <a href="nav_testRankings.html">
                                        <i class="pe-7s-angle-right-circle" style="color:#FFFFFF;position: absolute;right: 20px;top: 25px;font-weight: bold;cursor: pointer;font-size: 26px"
                                            title="统考排行"></i>
                                    </a>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover" style="cursor: pointer;">
                                        <thead>
                                            <th>名次</th>
                                            <th>姓名</th>
                                            <th>总答题数</th>
                                            <th style="box-shadow: 1px 1px 1px 1px #bdbdbd; width: 120px;text-align: center;background-color: #ff938b;color: #ffffff;-webkit-border-top-left-radius: 20px;-webkit-border-top-right-radius: 20px;text-align: center">
                                                实际答题
                                            </th>
                                            <th>正确率</th>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>名次</th>
                                                <th>姓名</th>
                                                <th>总答题数</th>
                                                <th style="box-shadow: 1px 1px 1px 1px #bdbdbd; width: 120px;text-align: center;background-color: #ff938b;color: #ffffff;-webkit-border-bottom-left-radius: 20px;-webkit-border-bottom-right-radius: 20px;text-align: center">
                                                    实际答题
                                                </th>
                                                <th>正确率</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr v-if="rankings==''" class="success">
                                                <td colspan="5" style="color: #8b8b8b;font-weight: bold">暂时还没有同学训练，抓紧上榜啦~</td>
                                            </tr>
                                            <!--第一名显示区域-->
                                            <tr v-for="(item,index) in rankings" class="warning" v-if="index==0">
                                                <td>{{index+1}}</td>
                                                <td>{{item.studentName}}</td>
                                                <td>{{item.sumCount}}道</td>
                                                <td style="box-shadow: 1px 1px 1px 1px #bdbdbd;width: 120px;text-align: center; background-color: #ff938b;color: #ffffff;text-align: center">
                                                    {{item.sumCorrectCount}}道
                                                </td>
                                                <td>{{correctRate[index]}}%</td>
                                            </tr>
                                            <!--第二名显示区域-->
                                            <tr v-for="(item,index) in rankings" class="success" v-if="index==1">
                                                <td>{{index+1}}</td>
                                                <td>{{item.studentName}}</td>
                                                <td>{{item.sumCount}}道</td>
                                                <td style="box-shadow: 1px 1px 1px 1px #bdbdbd;width: 120px;text-align: center; background-color: #ff938b;color: #ffffff;text-align: center">
                                                    {{item.sumCorrectCount}}道
                                                </td>
                                                <td>{{correctRate[index]}}%</td>
                                            </tr>
                                            <!--第三名显示区域-->
                                            <tr v-for="(item,index) in rankings" class="danger" v-if="index==2">
                                                <td>{{index+1}}</td>
                                                <td>{{item.studentName}}</td>
                                                <td>{{item.sumCount}}道</td>
                                                <td style="box-shadow: 1px 1px 1px 1px #bdbdbd;width: 120px;text-align: center; background-color: #ff938b;color: #ffffff;text-align: center">
                                                    {{item.sumCorrectCount}}道
                                                </td>
                                                <td>{{correctRate[index]}}%</td>
                                            </tr>
                                            <!--其他显示区域-->
                                            <tr v-for="(item,index) in rankings" class="" v-if="index!=0&&index!=1&&index!=2">
                                                <td>{{index+1}}</td>
                                                <td>{{item.studentName}}</td>
                                                <td>{{item.sumCount}}道</td>
                                                <td style="box-shadow: 1px 1px 1px 1px #bdbdbd;width: 120px;text-align: center; background-color: #ff938b;color: #ffffff;text-align: center">
                                                    {{item.sumCorrectCount}}道
                                                </td>
                                                <td>{{correctRate[index]}}%</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!--底部-->
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy; 2018
                        <a href="#">云校园</a>，梦想带你起航
                    </p>
                </div>
            </footer>
        </div>
    </div>


    <!--VUE模块-->
    <script>

        var lo = "localhost";
        var app = new Vue({
            el: '#app',
            data: {
                skillData: [],
                SkillDateChildren: [],
                daId: [],
                itemCount: [],
                userInfo: {},
                rankings: [],
                correctRate: [],
                skillCountDT: [],
                progress: [],

            },
            methods: {
                //加载用户信息
                getUserInfo() {
                    var userInfo = localStorage.getItem("user");
                    var obj = JSON.parse(userInfo);
                    this.userInfo = obj;
                },

                //加载排行榜
                getSpecialTrain() {
                    console.log(this.userInfo.classId);
                    $.post("http://" + lo + ":8080/SpecialTrain/selectSpecialTrainPHByClassId", { "classId": this.userInfo.classId }, function (date) {
                        console.log("加载排行榜" + date);
                        var arr = [];
                        for (var i = 0; i < date.length; i++) {
                            var num = date[i].sumCorrectCount / date[i].sumCount * 100;
                            var newNum = Math.floor(num)
                            arr[i] = newNum;
                        }
                        console.log("计算正确率" + arr);
                        app.correctRate = arr;
                        app.rankings = date;
                    }, "json");
                },


            },
            created() {
                this.getUserInfo();
                this.getSpecialTrain();


            }
        })

    </script>
</body>
<!--导入JS-->

<script src="newStyle/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="newStyle/js/bootstrap.min.js" type="text/javascript"></script>
<script src="newStyle/js/jquery.validate.min.js"></script>
<script src="newStyle/js/moment.min.js"></script>
<script src="newStyle/js/bootstrap-datetimepicker.js"></script>
<script src="newStyle/js/bootstrap-selectpicker.js"></script>
<script src="newStyle/js/bootstrap-checkbox-radio-switch-tags.js"></script>
<script src="newStyle/js/chartist.min.js"></script>
<script src="newStyle/js/bootstrap-notify.js"></script>
<script src="newStyle/js/sweetalert2.js"></script>
<script src="newStyle/js/jquery-jvectormap.js"></script>

<script src="newStyle/js/jquery.bootstrap.wizard.min.js"></script>
<script src="newStyle/js/bootstrap-table.js"></script>
<script src="newStyle/js/jquery.datatables.js"></script>
<script src="newStyle/js/fullcalendar.min.js"></script>
<script src="newStyle/js/light-bootstrap-dashboard.js"></script>
<script src="newStyle/js/jquery.sharrre.js"></script>
<script src="newStyle/js/demo.js"></script>

<!--通知模块-->
<script src="dist/js/lobibox.min.js"></script>
<script>
    var userInfoInit;//用户信息
    var btn = true;//导航栏状态

    //var gui = require('nw.gui');
    $(function () {

        var height = $(window).height();
        $(".container-main").css("height", height);//设置初始化高度
        $(window).resize(function () {//设置窗口改变时的高度
            var height = $(window).height();
            $(".container-main").css("height", height)
        });
        getUserInfo();
        notice();
        getTheme();

    });
    //退出应用程序
    function clostExamSystem() {
        //gui.App.quit()
    }
    //取出主题并设置上
    function getTheme() {
        var getTheme = localStorage.getItem("theme");
        $(".sidebar").attr("data-color", getTheme);
        var imgPath = localStorage.getItem("imgPath");
        $(".sidebar").attr("data-image", imgPath);
        $(".sidebar-background").css("background-image", 'url(' + imgPath + ')');
    }
    //设置通知
    function notice() {

        demo.showNotification('bottom', 'right', 'success', '专项训练排行榜', '记录了您所有的答题信息', 'pe-7s-smile');
    }
    //初始化用户信息&设置
    function getUserInfo() {
        var userInfo = localStorage.getItem("user");
        var obj = JSON.parse(userInfo);
        userInfoInit = obj;
        $(".userName").html(userInfoInit.studentName + '  <b class="caret"></b>')
        imgLogoInit();
    }
    //初始化头像
    function imgLogoInit() {
        $(".photo").html('  <img src="http://localhost:8080/upload/' + userInfoInit.imgFilePath + '.jpg"/>')
    }
</script>

<!--右键菜单-->
<script type="text/javascript">
    var menu = document.getElementById("menu");
    document.oncontextmenu = function (ev) {
        var oEvent = ev || event;
        //自定义的菜单显示
        menu.style.display = "block";
        //让自定义菜单随鼠标的箭头位置移动
        menu.style.left = oEvent.clientX + "px";
        menu.style.top = oEvent.clientY + "px";
        //return false阻止系统自带的菜单，
        //return false必须写在最后，否则自定义的右键菜单也不会出现
        return false;

    }
    //实现点击document，自定义菜单消失
    document.onclick = function () {

        menu.style.display = "none";
    }
    function shuaxin() {
        location.reload();
    }
</script>

</html>